.container_xxl {
  max-width: 1445px;
  width: 100%;
  margin: 0 auto;
}
.nobreak {
  page-break-inside: avoid;
}
.signup-modal {
  border-radius: 0 !important;
}

.scrollbar-custom {
  scrollbar-color: red;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(147, 147, 147);
  border-radius: 10px;
}
.scrollbar-custom-presentation {
  scrollbar-color: rgb(181, 181, 181);
}
.scrollbar-custom-presentation::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-custom-presentation::-webkit-scrollbar-thumb {
  background-color: rgb(151, 151, 151);
  border-radius: 10px;
}

.productCatalog .nameProductCatalog,
.productCatalog .btnProductCatalog img {
  opacity: 0;
}
.productCatalog:hover .nameProductCatalog,
.productCatalog:hover .btnProductCatalog img {
  opacity: 1;
}
.productCatalog:hover .btnProductCatalog {
  background-color: rgb(236, 16, 38);
}

.section-title {
  font-size: 28px;
  font-weight: 500 !important;
  color: #9d9c98;
  text-transform: uppercase;
  margin: 20px 0;
}

.content .moreContent,
.filter-opac,
.catalogImgBox .catalogabout,
.setProduct .setBtns {
  display: none;
  opacity: 0;
  transition: 400ms;
}
.content:hover .moreContent,
.filter-btn:hover .filter-opac,
.catalogImgBox:hover .catalogabout,
.setProduct:hover .setBtns {
  display: block;
  opacity: 1;
}
.catalog .catalog_btns {
  opacity: 0;
}
.catalog:hover .catalog_btns {
  display: flex;
  opacity: 1;
}
.swiper-opacity {
  opacity: 0;
  transition: 300ms;
}
.swiper-top-container:hover .swiper-opacity {
  opacity: 1;
}

.catalog:hover .swiper-top-container {
  background-color: #fff;
}

.mySwiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.mySwiper .swiper-wrapper .swiper-slide {
  height: 450px;
}

.prevModal,
.nextModal,
.next,
.prev,
.nextCard,
.prevCard {
  height: 40px !important;
  width: 40px !important;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.prevModal {
  left: 0;
  top: 40%;
}
.nextModal {
  right: 0;
  top: 40%;
}
.next {
  top: 90px;
  right: 0;
  z-index: 9;
}
.prev {
  top: 90px;
  left: 0;
  z-index: 9999;
}
.nextCard {
  bottom: 26%;
  right: 0;
}
.prevCard {
  bottom: 26%;
  left: 0;
}

.next:hover,
.prev:hover,
.nextCard:hover,
.prevCard:hover {
  background-color: red;
  border: none;
  color: white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.mySwiper .swiper-wrapper .swiper-slide img {
  max-width: 1000px;
  width: 100%;
  height: 100%;
}

.mySwiper_services .swiper-wrapper .swiper-slide-active {
  width: 400px !important;
  margin-right: 10px !important;
}
.mySwiper_services .swiper-wrapper .swiper-slide-active img {
  height: 600px;
}
.mySwiper_services .swiper-wrapper .swiper-slide-next img {
  height: 400px;
}

.mySwiper_services_left .swiper-wrapper .swiper-slide-active {
  width: 400px !important;
}
.mySwiper_services_left .swiper-wrapper .swiper-slide-next img,
.mySwiper_services_left .swiper-wrapper .swiper-slide-prev img {
  display: none !important;
}
.mySwiper_services_left .swiper-wrapper .swiper-slide-active img {
  height: 600px;
}
.mySwiper_services_left .swiper-wrapper .swiper-slide-prev {
  width: 360px !important;
}
.mySwiper_services_left .swiper-wrapper .swiper-slide-prev img {
  height: 400px;
}

.collapse-arrow > .collapse-title:after {
  color: #dfc38e;
}

.cornerAnimation {
  animation: animeCorner ease-in 1s;
}

.phone input,
.phone_input input {
  outline: none;
}
.phone input {
  height: 45px;
  margin: 0 42px;
}
.phone_input_1 input {
  background-color: transparent;
}

.react-international-phone-country-selector {
  display: none !important;
}
.react-international-phone-input {
  height: 50px;
  background: transparent !important;
  border: none !important;
  font-size: 18px !important;
}
.phoneInputContact .react-international-phone-input {
  color: white !important;
}
.phoneInputHome .react-international-phone-input {
  color: black !important;
}

.banner-carusel .swiper-pagination {
  left: auto !important;
  right: 0 !important;
  top: -16px !important;
  bottom: auto !important;
  width: auto !important;
}
.banner-carusel .swiper-pagination-bullet-active,
.banner-carusel .swiper-pagination-bullet {
  border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff0000 !important;
}
.swiper-pagination-bullet {
  background-color: #b6b6b6;
  height: 2px !important;
  width: 20px !important;
  border-radius: 2px !important;
}

@media (min-width: 1400px) {
  .mySwiper_services .swiper-wrapper .swiper-slide-active {
    /* margin-right: 70px !important; */
  }
  .mySwiper_services_left .swiper-wrapper .swiper-slide-prev {
    width: 460px !important;
  }
}

@media (max-width: 1400px) {
  .mySwiper_services .swiper-wrapper .swiper-slide-active {
    margin-right: 20px !important;
  }
}

@media (max-width: 768px) {
  .scrollbar-custom::-webkit-scrollbar {
    width: 3px;
  }
  .title {
    font-size: 35px;
  }
  .why-us .card-wrapp {
    margin-top: 50px;
    height: 1300px;
    background-size: cover;
  }
  .catalog .catalog_btns {
    opacity: 1;
  }
  .mySwiper_services .swiper-wrapper .swiper-slide-active,
  .mySwiper_services_left .swiper-wrapper .swiper-slide-active {
    width: 100% !important;
  }
  .mySwiper_services .swiper-wrapper .swiper-slide-active img,
  .mySwiper_services_left .swiper-wrapper .swiper-slide-active img {
    height: 500px;
  }
}

.loading1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

@media (max-width: 425px) {
  .section-title {
    font-size: 16px;
  }
  .title {
    font-size: 23px;
  }
  .catalog .catalog_btns {
    opacity: 1;
  }
  .fs-20 {
    font-size: 15px;
  }
  .mySwiper .swiper-wrapper .swiper-slide {
    height: 400px;
  }
  .mySwiper .swiper-wrapper .swiper-slide-active {
    width: 1000px !important;
    margin-right: 50px;
  }
  .mySwiper .swiper-wrapper .swiper-slide-prev {
    margin-left: -150px;
  }
  .banner-carusel .swiper-pagination {
    left: auto !important;
    right: 0 !important;
    top: -16px !important;
    bottom: auto !important;
    width: auto !important;
  }
  .banner-carusel .swiper-pagination-bullet {
    height: 1.8px !important;
    width: 14px !important;
  }
}

.apply-sidebar a.active {
  background-color: #ec1026;
  color: #fff;
}

.range-slider {
  height: 5px !important;
}
.range-slider .range-slider__range {
  background: #ec1026 !important;
  border-radius: 3px !important;
}
.range-slider .range-slider__thumb[data-lower] {
  width: 0;
}
.range-slider .range-slider__thumb[data-upper] {
  width: 15px;
  height: 15px;
  background: url("./assets/icons/Slider.svg") center no-repeat;
  background-size: cover;
}

.swiper-scrollbar {
  left: 0 !important;
  width: 100% !important;
}
.swiper-scrollbar-drag {
  background-color: #ec1026 !important;
}

.product-nav::-webkit-scrollbar {
  display: none;
}
.gallery a.active {
  fill: #ec1026;
  color: #ec1026;
}
.react-draggable {
  width: 100% !important;
  height: 100% !important;
}

.an_btn {
  outline: 0 !important;
  border: 0 !important;
  background-color: transparent;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.an_btn:hover {
  transform: translateY(-3px);
}

.banner-slider .slick-list,
.banner-slider .slick-track {
  height: 100% !important;
}
.banner-slider .slick-slide > div {
  height: 100% !important;
}

.hover-position,
.hovered-icon {
  transition: 300ms;
}
.hover-position:hover {
  color: #ec1026;
}
.main-category-header:hover .hovered-icon {
  filter: brightness(0.5);
}
.main-category-header:hover .hovered-title {
  background-color: #00b6ba;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
}
.add-applying label {
}
.add-applying ul {
  background-color: #fff;
  top: 20px;
}
