@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("../public/fonts/HelveticaNeueThin.otf"),
    url("../public/fonts/HelveticaNeue-Black.otf"),
    url("../public/fonts/HelveticaNeue-Medium.otf");
}

body {
  font-family: "Helvetica" !important;
}
