@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HelveticaNue";
  src: url("../public/fonts/HelveticaNeueThin.otf"),
    url("../public/fonts/HelveticaNeue-Black.otf"),
    url("../public/fonts/HelveticaNeue-BoldExt.otf"),
    url("../public/fonts/HelveticaNeue-Light.otf"),
    url("../public/fonts/HelveticaNeue-Extended.otf"),
    url("../public/fonts/HelveticaNeue-Medium.otf");
}

body {
  font-family: "HelveticaNue" !important;
}
